@inherits LayoutComponentBase

<div class="bg-gray-400 font-sans leading-normal tracking-normal">
    <NavMenu />

    <main class="container shadow-lg mx-auto bg-white mt-24 md:mt-18">
        @Body
    </main>
</div>
