@inherits LayoutComponentBase

<div class="">
    <div class="bg-gray-400 font-sans shadow-lg leading-normal tracking-normal">
        <NavMenu />
    </div>

    <main class="container mx-auto bg-white mt-24 md:mt-18">
        @Body
    </main>
</div>
