@if (Questions != null)
{
    var question = Questions.Find(x => x.Number == CurrentNumber);

    <div class="mb-4 fs-3">
        Score: @Score/@Questions.Count
    </div>
    @if (question != null)
    {
        <QuestionComponent Question=question IsAnswerCorrectChanged=IsAnswerCorrect />
    }
}