@if (Questions != null)
{
    CurrentQuestion = Questions.Find(x => x.Number == CurrentNumber);

    <div class="mb-4 fs-3 text-center">
        Score: @Score
    </div>
    @if (CurrentQuestion != null)
    {
        <QuestionComponent Question=@CurrentQuestion IsAnswerCorrectChanged=IsAnswerCorrect IsNextClickedChanged=IsNextClicked TotalQuestions=Questions.Count/>
    }
}