@page "/"
@using TriviaApp.Web.ViewModels

<PageTitle>Home</PageTitle>

<div>
    <h1>Generate Questions</h1>

    <EditForm Model=TriviaQuestionSetupViewModel>
        <div>
            <label>Category: </label>
            <InputSelect @bind-Value=TriviaQuestionSetupViewModel.Category>
                <option>Animals</option>
                <option>Movies</option>
                <option>Music</option>
            </InputSelect>
        </div>

        <div>
            <label>Difficulty: </label>
            <InputSelect @bind-Value=TriviaQuestionSetupViewModel.Difficulty>
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
            </InputSelect>
        </div>
        
        <div>
            <label>Number of Questions: </label>
            <InputSelect @bind-Value=TriviaQuestionSetupViewModel.NumberOfQuestions>
                <option>10</option>
                <option>20</option>
                <option>30</option>
            </InputSelect>
        </div>

        <div>
            <button>Submit</button>
        </div>
    </EditForm>
</div>

<div>
    <EditForm Model=Questions>
        <div>
            <h1>Question #1: What is the biggest animal in the planet?</h1>
            <InputRadioGroup @bind-Value=Question1Answer>
                <InputRadio Value="@("Dog")">a. Dog</InputRadio>
                <InputRadio Value="@("Whale")">b. Whale</InputRadio>
                <InputRadio Value="@("Shark")">c. Shark</InputRadio>
                <InputRadio Value="@("Cat")">d. Cat</InputRadio>
            </InputRadioGroup>
        </div>
    </EditForm>
</div>