@page "/"
@using TriviaApp.UI.Model.TriviaQuestion.Question
@using TriviaApp.UI.Service.Utility
@using TriviaApp.UI.Web.Pages.Question

<PageTitle>Trivia App | Home</PageTitle>

<div class="@(ShowQuestions ? "d-none" : "")">
    <h1>Let's play!</h1>

    Setup your questions here.

    @*TODO: get the choices from CoreService instead of hardcoding here*@
    <EditForm Model=@QuestionSetup class="mt-3">
        <div class="mb-3">
            <label for="difficulty" class="form-label">Difficulty</label>
            <InputSelect @bind-Value=QuestionSetup.Difficulty id="difficulty" class="form-select" aria-label="Set difficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </InputSelect>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <InputSelect @bind-Value=QuestionSetup.Category id="category" class="form-select" aria-label="Set category">
                <option value="animals">Animals</option>
                <option value="books">Books</option>
                <option value="movies">Movies</option>
            </InputSelect>
        </div>

        <div class="mb-3">
            <label for="questions" class="form-label">Questions</label>
            <InputSelect @bind-Value=QuestionSetup.NumberOfQuestions id="questions" class="form-select" aria-label="Set number of questions">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
            </InputSelect>
        </div>

        <button type="submit" class="btn btn-primary" @onclick=GameOnClick>Game!</button>
    </EditForm>
</div>

<div class="@(ShowQuestions ? "" : "d-none")">
    <QuestionsComponent Questions=@Questions />
</div>